.container {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    padding:  {
        right: 15px;
        left: 15px;
    }
}

.maincontent {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
* {
    box-sizing: border-box;
}
.tr180 {
    &:after {
        @include transition(.25s);
        transform: rotate(180deg);
    }
}
.dn {
    display: none !important;
}
.db {
    display: block !important;
}