footer.footer
	.container
		.footer-content
			.block
				.footer-title Адрес
				p.text Пр. Ленина, 85а, 2 этаж, офис 204
				.socials-block
					.footer-title Страницы в интернете
					ul.social-list
						li.social-item
							a(href='#').social-link.odn Одноклассники
						li.social-item
							a(href='#').social-link.vk VK
						li.social-item
							a(href='#').social-link.insta Instagram
						li.social-item
							a(href='#').social-link.fb Facebook
			.block
				.footer-title Города
				ul.foot-list
					li.foot-item Томск
					li.foot-item Кемерово
					li.foot-item Новосибирск
			.block
				.footer-title Полезная информация
				ul.foot-list
					li.foot-item Способы оплаты
					li.foot-item Контакты
				p.text.italic
					| Представленная на сайте информация являеться обобщенной и носит исключительно информативный характер
			.block
				.footer-title Автопарк
				ul.foot-list
					li.foot-item Ретро автомобили
					li.foot-item Седаны
					li.foot-item Лимузины
					li.foot-item Автобусы
					li.foot-item Джипы
					li.foot-item Кареты
					li.foot-item Мото-вело
					li.foot-item Прочее
		p.corp
			| © Ретро прокат автомобилей в городе Томске, все права защищены 2012-2017
a.call-me#call-me(href='#')
	img(src='img/icons/telphone.png' alt='подзвонить')