header.header
    .header__first-line
        .container
            .logo-img
                a(href='#')
                    img(src='img/logo.jpg', alt='title')
                .logo-dd
                    p
                        | Прокат автомобилей
                    span.dd-tr Томск
                    .dd
                        ul
                            li Кемерово
                            li Новосибирск
            .tell-wrap
                p 
                    | Заказ автомобиля по телефону:
                a(href="tel:599664")
                    | 59-94-64
            .writeUs-wrap
                p 
                    | Пишите нам
                a(href="mail:retroprokat@gmail.com")
                    | retroprokat@gmail.com
    .header__second-line
        .container
            nav.header__mnu
                ul
                    li.header__mnu--active
                        a(href="#") Автопарк
                    li
                        a(href="#") Доп. услуги
                    li
                        a(href="#") статьи
                    li
                        a(href="#") поиск
                    li
                        a(href="#") контакты
            nav.header__sub-mnu
                ul
                    li
                        a(href="#") Ретро-автомобили
                    li
                        a(href="#") Седаны
                    li
                        a(href="#") Лимузины
                    li
                        a(href="#") Автобусы
                    li
                        a(href="#") Джипы
                    li
                        a(href="#") Кареты
                    li
                        a(href="#") Мото-вело
                    li
                        a(href="#") Прочее
                    li
                        a(href="#") Бронирование авто онлайн