.footer {
	color: #fef5d4;
	background-color: #b94a48;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 0;
		width: 100%;
		height: 2px;
		background-image: url(../img/footer_line.png);
		background-repeat: repeat-x;
	}
	.text.italic {
		font-style: italic;
	}
}
.footer-content {
	@include clearfix;
	font-size: 0;
	.block {
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
		width: 25%;
		padding-right: 10px;
	}
	.corp {
		font-size: 14px;
	}
}
.footer-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 12px;
}
.socials-block {
	margin-top: 20px;
}
.social-list {
	@include clearfix;
}
.social-item {
	float: left;
	margin-right: 10px;
}
.social-link {
	display: block;
	width: 30px;
	height: 30px;
	background-color: #fef5d4;
	background-position: center;
	overflow: hidden;
	text-indent: -9999px;
	background-repeat: no-repeat;
	&.odn {
		background-image: url(../img/icons/odn-square.svg);
		&:hover {
			background-image: url(../img/icons/odn-square_h.svg);
		}
	}
	&.vk {
		background-image: url(../img/icons/vk-square.svg);
		&:hover {
			background-image: url(../img/icons/vk-square_h.svg);
		}
	}
	&.fb {
		background-image: url(../img/icons/fb-square.svg);
		&:hover {
			background-image: url(../img/icons/fb-square_h.svg);
		}
	}
	&.insta {
		background-image: url(../img/icons/insta-square.svg);
		&:hover {
			background-image: url(../img/icons/insta-square_h.svg);
		}
	}
}

.foot-list {
	margin-left: 35px;
	margin-bottom: 15px;
}
.foot-item {
	display: list-item;
}

.call-me {
    width: 70px;
    height: 70px;
    line-height: 62px;
	text-align: center;
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: 3px solid #fff;
	background-color: #c33e3e;
	transition: background-color 0.25s;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	img {
		vertical-align: middle;
		display: inline-block;
	}
	&:hover {
		background-color: #b94a48;
	}
}